header {
    background-color: var(--color-light);
    color: var(--color-1);
}

.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav__toggle {
    font-size: 1.5rem;
    color: var(--color-1);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var();
    transform: rotate(90deg);
}

.nav__links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.nav__links a {
    display: block;
    background: var(--color-light);
    color: var(--color-1);
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: .5rem;
    font-weight: bold;
    transition: all 0.3 linear;
}

.nav__links a:hover {
    color: var(--color-l);
}

.show-links {
    height: 150px;
}

@media screen and (min-width: 800px) {
    .nav__center {
        width: 90vw;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__header {
        padding: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__links-container {
        height: auto !important;
    }
    .nav__links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }
}