.main__title--img {
  height: 90vh;
  width: 100vw;
}

.main__first-section,
.main__secondary-section {
  padding: 30px;
  width: 90vw;
  margin: 0 auto;
}

.main__title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  text-transform: capitalize;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.main__paragraph {
  text-align: center;
  font-size: 1.25rem;
}
.half-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__secondary-section-list {
  font-size: 1.5rem;
  list-style-type: disc;
}

.main__secondary-items::before {
  content: disc;
}

.main__secondary-img {
  display: none;
}

.main__info {
  text-decoration: none;
  color: var(--color-3);
  transition: all 0.3 linear;
}

.main__info:hover {
  color: var(--color-2);
}

@media screen and (min-width: 800px) {
  .half-container {
    align-items: flex-start;
    justify-content: space-around;
  }
  .main__secondary-img {
    display: block;
    width: 40vw;
  }
}
