.main__title--img {
    height: 90vh;
    width: 100vw;
}

.main__first-section, .main__secundary-section {
    padding: 30px;
    width: 90vw;
    margin: 0 auto;
}

.main__title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
    padding: .5rem;
    margin-bottom: 1rem;
}

.main__paragraph {
    text-align: center;
    font-size: 1.25rem;
}

.half-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.main__secundary-section-list {
    list-style-type: disc;
    font-size: 1.5rem;
}

.main__secundary-img {
    width: 40vw;
}

.main__info {
    text-decoration: none;
    color: var(--color-3);
    transition: all 0.3 linear;
}

.main__info:hover {
    color: var(--color-2);
}